.github/ai-ley/personas/experts/examples/xml-expert/example-4.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema"
           xmlns:tns="http://example.com/schema"
           elementFormDefault="qualified">
  
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" type="tns:ItemType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="value" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>